// Color pallete
$color-neutral-90: rgba(229, 229, 229, 1);
$color-neutral-84: rgba(214, 214, 214, 1);
$color-neutral-20: rgba(51, 53, 51, 1);
$color-neutral-13: rgba(32, 32, 32, 1);
$color-accent-60: rgba(255, 238, 50, 1);
$color-accent-50: rgba(255, 209, 0, 1);

// Font sizes Desktop (heavy) and Mobile (small)
$font-h1-heavy: 64px;
$font-h2-heavy: 36px;
$font-h3-heavy: 24px;
$font-p-heavy: 21px;

$font-h1-light: 26px;
$font-h2-light: 21px;
$font-h3-light: 16px;
$font-p-light: 14px;

$font-poppins: 'Poppins', sans-serif;
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-regular: 400;
$font-weight-bold: 700;

// Media breaks
$width-size-desktop: 1366px;
$width-size-mobile: 480px;
