@use "../abstracts/variables" as var;

body {
  font-family: var.$font-poppins;
  font-weight: var.$font-weight-regular;
  background-color: var.$color-neutral-13;
  color: var.$color-neutral-90;
  line-height: 1.4;
  @media screen and (min-width: var.$width-size-mobile) {
    font-size: var.$font-p-heavy;
  }
}

h1,
h2,
h3 {
  font-weight: var.$font-weight-bold;
}
h1 {
  font-size: var.$font-h1-light;
  
  @media screen and (min-width: var.$width-size-mobile) {
    font-size: clamp(var.$font-h1-light, 5vw, var.$font-h1-heavy);
  }
}
h2 {
  font-size: var.$font-h2-light;
  @media screen and (min-width: var.$width-size-mobile) {
    font-size: clamp(var.$font-h2-light, 5vw, var.$font-h2-heavy);
  }
}
h3 {
  font-size: var.$font-h3-light;
  @media screen and (min-width: var.$width-size-mobile) {
    font-size: clamp(var.$font-h3-light, 5vw, var.$font-h3-heavy);
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;

  @media screen and (min-width: var.$width-size-mobile) {
    max-width: var.$width-size-desktop;
    padding: 0 2rem;
  }
  @media screen and (min-width: var.$width-size-desktop) {
    padding: 0;
  }
}

.d-flex{
  display: flex;
}

.d-flex__column{
  display: flex;
  flex-direction: column;
}

.text-center{
  text-align: center;
}

.justify-center{
  justify-content: center;
}
